<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Partie" value="https://pkgs.dev.azure.com/seatechconsulting/_packaging/Partie/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Partie>
      <add key="Username" value="NugetPat" />
      <add key="ClearTextPassword" value="232gj7vtz7nbjtuwlvt4folael26r7iz7sonh6r2ognssciq6pga" />
    </Partie>
  </packageSourceCredentials>
</configuration>