
<div class="modal active">
  <div class="modal-overlay"></div>
  <div class="modal-container">
    <div class="modal-header">
      <h2 class="modal-title">Invite Friends</h2>
      <button class="btn bg-black btn-close" (click)="onBackButtonClick($event)">
        <img src="/assets/images/icons/misc/close-x.svg" alt="Close Icon">
      </button>
    </div>
    <div class="modal-content" (click)="onDialogClick($event)">
      <div class="content-scrollable">

        <div *ngFor="let item of model"
             class="person-listing participant"
             [ngSwitch]="childComponentName">
          <div class="avatar">
            <img src="" [userId]="item.followerId">
            <div class="online-indicator"></div>
          </div>
          <div class="person-name">{{item.followerDisplayName}}</div>
          <button *ngIf="item.status === 'AlreadyJoined'" class="btn btn bg-black btn-fit joined">Joined</button>
          <div *ngIf="item.status === 'PendingInvitation'">
            <button class="btn btn-outline btn-fit resend" (click)="resendInvitation(item.followerId)">Resend</button>
          </div>
          <button *ngIf="item.status === 'PendingRequest'" class="btn btn-outline btn-fit pending">Pending</button>
          <button *ngIf="item.status === 'Invite'" (click)="inviteFollower(item.followerId)" class="btn btn-outline btn-fit invite">{{item.status}}</button>
          <button *ngIf="item.status === 'Banned'" class="btn bg-black">{{item.status}}</button>

        </div>
      </div>
    </div>
  </div>
</div>
