<div class="slideInRight animated">
  <div class="status">
    <div class="status-body">
      <div *ngIf="userPostItem.file.mimeType">
        <img (error)="userPostItem.file.mimeType = null" *ngIf="userPostItem.file.mimeType.indexOf('video') <0" src="{{postFile}}" alt="Picture Alt Text">
        <video (error)="userPostItem.file.mimeType = null" *ngIf="userPostItem?.file?.mimeType?.indexOf('video') >=0" controls disabled="true" #videoPlayer>
          <source [src]="postFile" [type]="userPostItem.file.mimeType">
        </video>
      </div>

      <div class="status-text">
        <p [innerHTML]="userPostItem?.description"> </p>
      </div>
    </div>

    <div class="status-meta">
      <div class="avatar">
        <img src="" [userId]="userPostItem.createdById" alt="{{userPostItem.createdByName}}">
        <div class="online-indicator"></div>
      </div>
      <div class="author-name"> {{userPostItem.createdByName}}</div>
      <div class="status-info">

        <span class="time-ago"> {{userPostItem.createdAt}}</span>
      </div>
      <button class="btn btn-likes" (click)="toggleLikePost()">
        <img [class.hidden]="!userPostItem.liked" src="/assets/images/icons/16px/like-on.svg"/>
        <img [class.hidden]="userPostItem.liked" src="/assets/images/icons/16px/like.svg"/>
        <span class="likes-count"> {{userPostItem.likes}}</span>
      </button>

      <button class="btn btn-menu" (click)="showItemDetails()">
        <img src="/assets/images/icons/32px/more-dots.svg" alt="More Icon">
      </button>

    </div>

  </div></div>

<partie-drawer-menu [menu]="contextMenu"  (menuClick)="contextMenuClicked($event)"></partie-drawer-menu>




