<div>
  <br /><br />
  <div class="column__padding--inline" bis_skin_checked="1">
    <div class="text--inline" bis_skin_checked="1">
      <p class="size-18" style="font-family: sans-serif; font-size: 27px; line-height: 26px; text-align: center;" lang="x-size-18">
        <span class="font-sans-serif">
          <strong>Welcome to the Partie!</strong>
        </span>
      </p>
    </div>
  </div>
  <br />
  <div class="text--inline" bis_skin_checked="1">
    <p style="font-family: sans-serif; text-align: center;">
      <span class="font-sans-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget dignissim lorem, vitae mollis urna. In a metus id ex consectetur vehicula eget vitae magna. Nulla euismod lacus non ullamcorper varius. Cras lacus mauris, sagittis nec est at, congue auctor lectus. Mauris tincidunt urna ac laeget semper felis consequat c. Duis at lorem in purus vehicula fermentum tincidunt at odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget dignissim lorem, vitae mollis urna. In a metus id ex consectetur vehicula eget vitae magna. Nulla euismod lacus non ullamcorper varius. Cras lacus mauris, sagittis nec est at, congue auctor lectus. Mauris tincidunt urna ac laeget semper felis consequat c. Duis at lorem in purus vehicula fermentum tincidunt at odio.</span>
  </div>
  <br /><br />
        <div>
          <div _ngcontent-c0="" class="content" style="text-align: center; border: 1px solid float: left; width: 100%; text-align: center;}">

            <button id="subscribe" class="btn bg-teal" (click)="submit()" style="height: 40px; width: 25%; position: relative; top: 20%">
              <h2>{{paymentButton}}</h2>
            </button>
          </div>
          <br />
          <div _ngcontent-c0="" class="content" style="text-align: center; border: 1px solid float: left; width: 100%; text-align: center; }">

            <button id="log_out" class="btn bg-teal" (click)="logout()" style="height: 40px; width: 25%; position: relative; top: 30%">
              <h2>Log Out</h2>
            </button>
          </div>
        </div>
  <br /><br />
  <div class="text--inline" bis_skin_checked="1">
    <p style="font-family: sans-serif; text-align: center;">
      <span class="font-sans-serif">Thanks,<br>The Partie&nbsp;Team</span>
    </p>
  </div>

</div>
